@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(PTSans-Regular.woff) format('woff');
}


body {
    background:#fff;
    color: #444;
    font-family: 'PT Sans', 'helvetica', sans-serif;
    font-size: 16px;
    font-weight:300;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    background: url(../images/roman-mager-59976-unsplash.jpg) no-repeat;
    background-size: cover;
	background-position: center center;
    margin-bottom: 30px;
    padding: 2em 1em 2em 1em;
}

div#logo a {
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#logo a:hover {
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

#header #nav {
    text-align: right;
}

#header #nav a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: lowercase;
}

#header #nav a:hover {
    text-decoration: underline;
}

#content {
	margin: 0px 1em 0px 1em;
}

#footer {
    border-top: dotted 1px #ddd;
    color: #BBB;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

footer a{
    font-size: 12px;
    font-weight: 500;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

section.header {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

ul, ol {
    padding-left: 20px;
}

a {
    color: #720000;
    font-weight: 700;
    text-decoration: none;
}

p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom:20px;
}
